body {
  margin: 0;
  font-family: Cambria, Georgia, Times, serif;
  font-size: 18px;
  line-height: 1.5em;
  background: white;
  color: black;
}

.navbar {
  text-align: center;
  background: black;
  color: darkgrey;
  margin: 0;
  padding: 10px;
}

@media print {
  .navbar {
    display: none;
  }
}

.navbar li {
  display: inline;
}

.navbar li + li:before {
  content: " | ";
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  color: darkgrey;
}

.navbar a:hover {
  text-shadow: 0 0 3px lightgrey;
}

.navbar a.active {
  color: white;
}

@media print {
  .banner {
    text-align: center;
  }
 
  .banner p {
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  .banner h1 {
    font-size: 56px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  .banner .links {
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media screen {
  .banner {
    background: url(/images/metro.jpg) #444 50% 25% no-repeat;
    color: white;
    padding: 0.5em;
    text-shadow: 0 0 5px black;
    text-align: center;
  }

  .banner h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  .banner p {
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  .banner .links {
    font-style: normal;
  }

  .banner a {
    color: inherit;
  }

  .banner a:hover {
    text-shadow: 0 0 3px #CCC;
  }

  .content, .copyright {
    max-width: 1024px;
    margin: 0 auto;
    padding: 18px 9px 0;
  }
}

@media screen and (min-width: 400px) {
  .banner h1 {
    font-size: 56px;
  }
}

@media screen and (min-height: 600px) {
  .banner h1 {
    margin: 28px 18px;
  }

  .banner p {
    margin: 8px 18px;
  }
}

@media screen and (min-width: 400px) and (min-height: 600px) {
  .webroot .banner {
    padding: 100px 0.5em 50px;
  }
}

.copyright {
  border-top: 1px solid #CCC;
  font-size: 0.8em;
  color: #444;
}

.hidden {
  display: none;
}

.hResume .content p {
  margin: 0 0 1em 0;
}

.hResume .content h2 {
  font-size: 24px;
  margin: 0.5em 0;
  color: #486;
}

@media (min-width : 600px) {
  .hResume .content {
    position: relative;
    padding: 18px 18px 0 150px;
    max-width: 856px;
  }

  .hResume .content h2 {
    font-size: 1em;
    position: absolute;
    padding: 0 10px;
    margin: 0;
    width: 120px;
    text-align: right;
    border-right: 1px solid #486;
    left: 0;
  }
}

.hResume .content h3 {
  font-size: 1em;
  margin: 1em 0 0 0;
  padding: 0;
}

.hResume .content h4 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  color: #444;
}

.hResume .content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

.hResume .content ol {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

.hResume .content li {
  margin: 0 0 0.5em 0;
}

.hResume .content cite {
  font-style: normal;
}

.hResume #skills li {
  display: inline;
}

.hResume #skills li + li:before {
  content: ", ";
}

.hResume #publications .conference {
  color: #666;
}
