{{ define "header" }}
<h1>{{ .Params.author.name }}</h1>
<ul>
{{- with .Params.author.email }}
  <li><a href="mailto:{{.}}">{{.}}</a></li>
{{- end }}
{{- with .Params.author.url }}
  <li><a href="{{.}}">{{.}}</a></li>
{{- end }}
{{- with .Params.author.github }}
<li><a href="https://github.com/{{.}}">GitHub</a></li>
{{- end }}
</ul>
{{ .Content }}
{{ end }}

{{ define "main" }}
  {{ $directory := printf "%s%s" .File.Dir "_index" }}
  {{ $bundle := .Site.GetPage $directory }}
  {{ range $bundle.Pages }}
    {{ if not .Params.disabled }}
    <section id="{{ .File.ContentBaseName }}">
      <h2>{{ .Title }}</h2>
      {{ partial (printf "fragments/%s" .Params.Fragment ) . }}
    </section>
    {{ end }}
  {{ end }}
{{ end }}
